<h1>Login</h1>
<form class="login-form" id="login-form">
    <div>
        <label for="username-input-login">USERNAME:</label>
        <input id="username-input-login" type="text">
    </div>
    <div>
        <label for="password-input-login">PASSWORD:</label>
        <input id="password-input-login" type="password">
    </div>
    <div>
        <button class="btn" id="login-btn" type="submit">Logout</button>
    </div>
    <a href="/signup">Sign Up!</a>
</form>

<script src="/js/login.js"></script>