<section>
    <h2>Create a New Post!</h2>
    <form class="new-post-form" id="new-post-form">
        <div>
            <label for="post-title">Enter Post Title:</label>
            <input id="post-title" name="post-title" type="text">
        </div>
        <div>
            <label for="post-body">Enter Post Content:</label>
            <textarea id="post-body" name="post-body" type="text"></textarea>
        </div>
        <div>
                 <button class="btn" type="submit">Add Your Post</button>
        </div>
    </form>
</section>

<script src="/js/new.js"></script>