<h1>Sign Up!</h1>
<form id="signup-form" class="signup-form">
<div>
    <label for="username-input-signup">USERNAME:</label>
    <input id="username-input-signup" type="text">
</div>
<div>
    <label for="email-input-signup">EMAIL:</label>
    <input id="email-input-signup" type="email">
</div>
<div>
    <label for="password-input-signup">PASSWORD:</label>
    <input id="password-input-signup" type="password">
</div>
<div>
    <button id="signup-btn" class="btn" type="submit">Sign Up!</button>
</div>
<a href="/login">Log In!</a>
</form>

<script src="/js/signup.js"></script>