{{#if loggedIn}}
<form class="comment-form" id="comment-form">
    <textarea name="comment-body"></textarea>
    <button class="btn" type="submit">Comment</button>
</form>

<script src="/public/js/comment.js"></script>
{{/if}}